body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: regular;
  letter-spacing: 2%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2e2f42;
}

.navigation > ul {
  list-style-type: none;
}
.navigation > ul a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
.navigation > ul a:hover {
  color: #404bbf;
}
.navigation #studio:focus {
  color: #404bbf;
  text-decoration: underline;
}
.contacts {
  font-style: normal;
}
.contacts .contacts-link {
  text-decoration: none;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts .contacts-link:hover {
  color: #404bbf;
}
.contacts .contacts-link:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;

  height: 600px;
}
.title {
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 2%;
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.sec-two-p {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  /* text-align: left; */
}
.section-three {
  background-color: #f4f4fd;
}
.section-three li {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  /* text-align: center; */
}

.section-four li {
  width: 360px;
  height: 420px;
  border: 1px solid #e7e9fc;
}
.footer {
  width: 1440px;
  height: 312px;
  top: 2988px;
  background: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
