body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: regular;
  letter-spacing: 2%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
}
.name-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2e2f42;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

.navigation > ul {
  list-style-type: none;
}
.navigation > ul a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
}
.navigation > ul a:hover {
  color: #404bbf;
}
.navigation #studio:focus {
  color: #404bbf;
  text-decoration: underline;
}
.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
.contacts .contacts-link {
  text-decoration: none;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts .contacts-link:hover {
  color: #404bbf;
}
.contacts .contacts-link:focus {
  color: #404bbf;
}

.section-one {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.title {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  /* flex-wrap: wrap; */
  width: 600px;
  /* height: 120px; */
}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 20px;
  left: 20px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 2%;
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  /* font-weight: 500; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two {
  height: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec-two-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1128px;
  height: 104px;
  top: 792px;
  left: 156px;
  gap: 10px;
  opacity: 0px;
}
.section-two h2 {
  visibility: hidden;
}
.sec-two-p {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
}

.container-sec-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 1440px; */
  height: 732px;
  top: 1016px;
}
.sec-three-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  align-content: center;
}
.section-three {
  background-color: #f4f4fd;
}
.section-three h3,
p {
  text-align: center;
}
.sec-three-list-item {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.section-three li {
  margin-top: 112px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  width: Hug (264px) px;
  height: Hug (380px) px;
  top: 1248px;
  left: 156px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px;
}
.section-four {
  height: 1240px;
}
.container-sec-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  
}
.sec-four-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 24px;
  width: 1200px;
  margin-top: 72px;
  flex-wrap: wrap;
}
.section-four h3,
.section-four p {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
}
p {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.section-four li {
  width: 360px;
  height: 420px;
  border: 1px solid #e7e9fc;
}
.footer {
  width: 1440px;
  height: 312px;
  top: 2988px;
  background: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.accent-footer {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
