*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fcfcfc;
  line-height: 1.5;
  font-size: 16px;
  font-weight: regular;
  letter-spacing: 2%;
  margin: 0;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  font-family: Roboto, sans-serif;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}
.content {
  flex-grow: 1;
  
}
.container-header {
display: flex;
justify-content: space-around;
flex-basis: 1440px;
height: 72px;
align-items: center;
border-bottom: 1px solid #e7e9fc;
}
.page-nav {
  display: flex;
  flex-direction: row;
  gap: 8px;
}




.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2e2f42;
}

.page-nav > li {
  list-style-type: none;
}
.page-nav > li a {
  text-decoration: none;
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
}
.page-nav > li a:hover {
  color: #404bbf;
}
.contacts a {
  text-decoration: none;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.contacts a:hover {
  color: #404bbf;
}
.title-container {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
  width: 1440px;
  height: 600px;
}
.title {
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 2%;
  line-height: 60px;
  width: 496px;
  height: 120px;
  
 
}
.order-service {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  
}

.order-service:hover {
  background-color: #404bbf;
  cursor: pointer;
}


h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2%;
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  font-weight: medium;
  letter-spacing: 2%;
  color: #2e2f42;
}

.footer {
  width: 1440px;
  height: 312px;
  top: 2988px;
  background: #2e2f42;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.accent-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fafafd;
  font-size: 18px;
}
.footer-text {
  width: 264px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
